<form>
  <h2>Contactanos</h2>
  <div class="input-group">
    <label for="name" class="label">Nombre</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Nombre"
      class="input"
    />

    <label for="email" class="label">Correo Electronico</label>
    <input
      type="email"
      name="mail"
      id="mail"
      placeholder="Correo Electronico"
      class="input"
    />

    <label for="phone" class="label">Telefono</label>
    <input
      type="tel"
      name="phone"
      id="phone"
      placeholder="Telefono"
      class="input"
    />

    <label for="message" class="label">Mensaje</label>
    <textarea
      name="message"
      id="message"
      placeholder="Mensaje"
      cols="20"
      rows="5"
      class="input"
    ></textarea>
    <div class="form-txt">
      <a href=""></a>
    </div>
    <input type="submit" value="Enviar" class="btn-submit" />
  </div>
</form>

<link rel="stylesheet" href="/css/contact.css" />
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>