<div class="formulario">
  <h1>Restablecer contraseña</h1>
  <form class="login-form" id="forgotpassword-form">
    <div class="username">
      <input type="text" id="email" />
      <label for="username">Email</label>
    </div>
    <input type="submit" value="Restablecer" id="Restablecer" />
    <div class="login">
      <p>¿Ya tienes una cuenta?
        <a href="http://localhost:8080/api/views/signup">Iniciar Sesion</a></p>

    </div>

  </form>
</div>

<link rel="stylesheet" href="/css/login.css" />
<script src="/js/forgotenPassword.js"></script>