<div class="formulario">
  <h1>Restablecer Contrase単a</h1>
  <form class="login-form" id="login-form">
    <div class="username">
      <input type="text" id="username" />
      <label for="username">Usuario:</label>
    </div>
    <div class="username">
      <input type="password" id="password" />
      <label for="password">Nueva Contrase単a:</label>
    </div>
    <div class="username">
      <input type="password" id="newpassword" required />
      <label for="newpassword">Repita la nueva contrase単a:</label>
    </div>
    <input type="submit" value="Restablecer Contrase単a" id="forgot" />

  </form>
</div>

<link rel="stylesheet" href="/css/login.css" />
<script src="/js/forgotPassword.js"></script>